---
Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  misc-*,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -modernize-use-trailing-return-type

WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*

HeaderFilterRegex: '.*'

AnalyzeTemporaryDtors: true

FormatStyle: file

CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'

  - key: modernize-loop-convert.MinConfidence
    value: reasonable

  - key: readability-identifier-naming.VariableCase
    value: lower_case

  - key: readability-identifier-naming.FunctionCase
    value: camelBack

  - key: readability-identifier-naming.ClassCase
    value: CamelCase

  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE

  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _

  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: 'true'

  - key: cppcoreguidelines-owning-memory.IgnoreSmartPointers
    value: 'false'
